.onoffswitch {
    position: relative; width: 200px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 12px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 19px; padding: 0; line-height: 19px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Videos";
    padding-left: 11px;
    background-color: #f8f8f8; color: #222428;
}
.onoffswitch-inner:after {
    content: "List of Tutorial";
    padding-right: 11px;
    background-color: #222428; color: #f8f8f8;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 23px; margin: -2px;
    background: #f8f8f8;
    position: absolute; top: 0; bottom: 0;
    right: 177px;
    border: 2px solid #999999; border-radius: 12px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.second_nav{
    bottom:7%;
    margin: 0;
    position: fixed;
    left: 50%;
    width: auto;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

@media(max-width:450px){
    .second_nav{
        /*margin: 0 20% 0 20%;*/
    }
}

#videos{
    display: none;
}

#list_of_tutorial{

}

#videos.active{
    display: inline;
}

#list_of_tutorial.active1{
    display: none;
}

.list_heading{
    border-bottom:#f8f8f8 3px solid;
    color: #222428;
    font-weight: bolder;
    text-transform: uppercase;
}